<div class="col-sm-12 bordered" id="distSetting">
    <div class="col-sm-4">
        <div class="col-sm-12 model-selection">
            <h3> True rate distribution settings</h3>
            <div>
                <label class="radio-inline" for="dist-uniform-radio"><input type="radio" name="distType" ng-model="distData.dist" value="uniform" checked="checked" id="dist-uniform-radio"> Uniform</label>                    
                <label class="radio-inline" for="dist-logitnormal-radio"><input type="radio" name="distType" ng-model="distData.dist" value="logitnormal" id="dist-logitnormal-radio">LogitNormal</label>
            </div>

        </div>
        <div class="col-sm-12 model-parameters" id="uniform" ng-show="distData.dist==='uniform'">
            <div class="form-group">
                <label class="col-sm-4 control-label">Minimum</label>
                <div class="col-sm-8 form-number">
                    <input type="number" class="form-control short-number" step="0.1" name="min" value="0" ng-model="distData.uniformParams.min" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Maximum</label>
                <div class="col-sm-8 form-number">
                    <input type="number" class="form-control short-number" step="0.1" name="max" value="1" ng-model="distData.uniformParams.max" />
                </div>
            </div>
        </div>

        <div class="col-sm-12 model-parameters" id="logitnormal" ng-show="distData.dist==='logitnormal'">
            <div class="form-group">
                <label class="col-sm-4 control-label">Mu</label>
                <div class="col-sm-8 form-number">
                    <input type="number" class="form-control short-number" step="0.1" name="mu" value="0.5" ng-model="distData.logitParams.mu" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Sigma</label>
                <div class="col-sm-8 form-number">
                    <input type="number" class="form-control short-number" step="0.1" name="sigma" value="1" ng-model="distData.logitParams.sigma" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8" id="distGraphs"></div>
</div> <!-- distSetting -->
