li.stage {
	width : 280px;
}
li.stage .form-number {
	margin-right: 0px;
}
.stage {
	border-style:solid;
	border-width:1px;
	border-radius:100px;
	margin: 0px 10px 5px 0px;
	padding:0px;
}
h4 {
	text-align:center;
}
.col-sm-12 {
	border-style:outset;
	border-width:5px;
	border-color:gray;
	margin: 0px 0px 10px 0px;
	padding: 0px 20px 20px 20px;
}