.stage {
	width : 260px;
    background-color:#ddd;
	margin: 10px;
	padding:5px;
    padding-left:10px;
    float: left;

}
.stage .form-number {
	margin-right: 0px;
}

.stage h4, .graph h4 {
	text-align:center;
}

.bordered {
	border-style:outset;
	border-width:5px;
	border-color:gray;
	margin: 0px 0px 10px 0px;
	padding: 0px 20px 20px 20px;
}

.graph {
	/*background-color: green;*/
	float: left;
	margin-left: 0;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

.model-selection {
	margin-bottom: 10px;
}

.model-parameters li {
	margin-bottom: 5px;
}

input.short-number {
	width: 100px;
}