.stage {
	width : 280px;
}
.stage .form-number {
	margin-right: 0px;
}
.stage {
    background-color:#ddd;
	margin: 10px;
	padding:5px;
    padding-left:10px;
}
h4 {
	text-align:center;
}
.col-sm-12 {
	border-style:outset;
	border-width:5px;
	border-color:gray;
	margin: 0px 0px 10px 0px;
	padding: 0px 20px 20px 20px;
}

.graph {
	/*background-color: green;*/
	float: left;
	margin-left: 0;
	padding-bottom: 50px;
}
.stage {
	float:left;
}
